node_red_flow.json
[{"id":"f5740d53.ddcd6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"49616914.0018e8","type":"ui_form","z":"f5740d53.ddcd6","name":"","label":"","group":"64904c38.d22764","order":0,"width":0,"height":0,"options":[{"label":"ENTER INPUT","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":220,"wires":[["fba45230.afc24"]]},{"id":"fba45230.afc24","type":"function","z":"f5740d53.ddcd6","name":"input parser","func":"msg.payload=msg.payload.input\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":220,"wires":[["eaa98e63.8a07a","5d221c30.c997d4"]]},{"id":"eaa98e63.8a07a","type":"ui_text","z":"f5740d53.ddcd6","group":"64904c38.d22764","order":1,"width":0,"height":0,"name":"","label":"Input","format":"{{msg.payload}}","layout":"row-spread","x":270,"y":300,"wires":[]},{"id":"5d221c30.c997d4","type":"watson-conversation-v1","z":"f5740d53.ddcd6","name":"ONEPLUS 7T BOT","workspaceid":"98fec8db-afc1-4d7f-b1b8-a7290b744570","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/ceb4f234-922c-433b-a9ac-fc6bc0ed3a63","timeout":"","optout-learning":false,"x":410,"y":200,"wires":[["9381b5e8.2287e8","2eed7e87.a690e2"]]},{"id":"9381b5e8.2287e8","type":"debug","z":"f5740d53.ddcd6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":200,"wires":[]},{"id":"2eed7e87.a690e2","type":"function","z":"f5740d53.ddcd6","name":"watson response","func":"msg.payload=msg.payload.output.text[0]\n\nmsg.url = \"https://zdnet2.cbsistatic.com/hub/i/r/2020/01/29/8326b4b7-fdad-4ea7-8d1f-678aaca6a558/resize/1200x900/0fda1a8a22c96f382f7a78d1ba038798/oneplus-7t-pro-main-thumb.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["10a362d6.246c9d","93a99ab0.966e28","3f090f9f.b698f"]]},{"id":"10a362d6.246c9d","type":"ui_text","z":"f5740d53.ddcd6","group":"64904c38.d22764","order":2,"width":0,"height":0,"name":"","label":"Output","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":100,"wires":[]},{"id":"93a99ab0.966e28","type":"ui_template","z":"f5740d53.ddcd6","group":"64904c38.d22764","name":"","order":3,"width":"6","height":"4","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":540,"y":20,"wires":[[]]},{"id":"3f090f9f.b698f","type":"ui_audio","z":"f5740d53.ddcd6","name":"","group":"64904c38.d22764","voice":"en-GB","always":true,"x":660,"y":140,"wires":[]},{"id":"64904c38.d22764","type":"ui_group","z":"","name":"ONEPLUS 7T BOT","tab":"fe88f88a.9ed778","order":1,"disp":true,"width":"6","collapse":false},{"id":"fe88f88a.9ed778","type":"ui_tab","z":"","name":"chatbot","icon":"dashboard","disabled":false,"hidden":false}]